/*CORPO DO LAYOUT*/
body{
    width: 21cm;
    height: 29.7cm;
    font-family: 'Roboto', sans-serif;
    /* change the margins as you want them to be. */
    page-break-after: always;
    display: block;
}
.quebrarpagina{
    page-break-after: always;
}
/*HEADINGS*/
h6, h5, h4{
    margin: 0 0 0 0;
    font-weight: normal;
}
h6{
    margin-top: 5px;
}
h4{
    font-size: 10pt;
}
h5{
    font-size: 11pt;
}
/* TABELAS */
table{
    width: 100%;
}
.naomexer{
    height: 100%;
}
.tabela_geral{
    position: relative;
}
.desc_salario_interno table{
    height: 100%;
}
.desc_salario_interno tbody td{
    padding: 0 0 0 0;
    height: 12pt !important;
    vertical-align: top;
}
.pre_cabecalho td{
    padding: 0 0 0 0;
    width: 50%;
    vertical-align: top;
}
.desc_funcionario thead{
    font-weight: bold;
}
.desc_funcionario td{
    font-size: 10pt;
    text-align: center;
}
.desc_salario thead{
    font-size: 9pt;
    text-align: center;
    font-weight: bold;
}
.desc_salario tbody td{
    padding-right: 10px;
    font-size: 10pt;
}


/*divs */
.pre_cabecalho{
    width:99.8%;
    border-right: 1px solid black;
}
.desc_funcionario{
    width: 99.8%;
    border-top: 1px solid black;
    border-right: 1px solid black;
}
.desc_salario{
    width: 100%;
}
.desc_salario_interno{
    height: 217pt;
}
.assinatura_funcionario{
    transform: rotate(270deg);
    padding-top: 5px;
    font-size: 7pt;
    width: 61.35%;
    position: relative;
    float: right;
    right: -150pt;
    top:-209.9pt;
}

/* outros */
.borda_direita{
    border-right:1px solid black;
}
.borda_esquerda{
    border-left:1px solid black;
}
.borda_cima{
    border-top:1px solid black;
}
.borda_baixo{
    border-bottom:1px solid black;
}
.centralizar{
    text-align: center;
}
.alinhar_direita{
    text-align: right;
}
.borda_cima.borda_direita.centralizar{
    font-size: 8pt;
    padding: 0 0 0 0;
    font-weight: bold;
}
.erro{
    border: 1px solid red;
}
hr{
    margin-top: 5px;
    margin-bottom: 20px;
    width: 108%;
    border: 1px dashed black;
}
